#msj-error {
  color: #FFF;
  font-family: Arial Rounded MT Bold, Gill Sans MT, Arial Black;;
}

#contenedor-blanco {
  position: relative;
  right: 10px;
}

#contenedor-blanco {
  color: #000;
}

.fecha {
  display: inline-block;
}

#fecha {
  position: relative;
  left: 2%;
}

#botones {
  position: absolute;
  top: 95%;
  left: 35%;
}

.boton-eliminar:hover {
  background-color: #B30000;
}

.cambiar-cursor:hover {
  cursor: pointer;
}

.tupla-tabla {
  /* background-color: white;*/
}

.btn-tabla {
  font-size: 80%;
  padding: 0;
}
