.t-thead tr th {
  border: 5px solid;
  padding: 5px;
}

.t-tbody tr td {
  border: 1px solid;
  padding: 2px;
}

.tr-boton {
  margin: 0;
  padding-top: 2px;
}

.lista-grado {
  text-align: left;
}

.div-boton-crear {
  width: 10%;
}

.div-grados {
  position: relative;
  left: 0px;
}

#grados-registros {
  position: relative;
  left: 0px;
}

.boton-editar {
  position: relative;
  top: -11%;
  left: 85%;
}
