.t-thead tr th {
  border: 5px solid;
  padding: 5px;
}

.t-tbody tr td {
  border: 1px solid;
  padding: 2px;
}

.tr-boton {
  margin: 0;
  padding-top: 2px;
}

.lista-tutoria {
  text-align: left;
}

.div-boton-crear {
  width: 10%;
}

.div-producciones {
  position: relative;
  left: 0px;
}

#tutorias-registros {
  position: relative;
  left: 0px;
}

#alumnos {
  position: relative;
  top: 0%;
}

#lista-alumnos {
  position: relative;
  top: -40%;
}

.boton-editar {
  position: relative;
  top: 29%;
  left: 73%;
}
